<div class="card card-body">
    <p>Create user</p>
    <form {{action 'submitForm' user on='submit' }}>
        {{#if message}}
            <p class="alert alert-success">{{message}}</p>
        {{/if}}

        <div class="form-group">
            <label for="">First name</label>
            <input type="text" class="form-control" value={{readonly user.firstName}} debounce=200 onKeyUp={{action "onChange"
                "firstName"}}>
        </div>
        <div class="form-group">
            <label for="">Last name</label>
            <input type="text" class="form-control" value={{readonly user.lastName}} onKeyUp={{action "onChange" "lastName"}}>
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary" disabled={{invalidData}}>Add</button>
        </div>
    </form>
    <button {{action 'fetchUsers' on='click'}}>FETCH USER</button>
</div>